{% extends "layout.html" %}
{% block body %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{url_for('static',filename='assets/img/home-bg.jpg')}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>{{params['blog_name']}}</h1>
                            <span class="subheading">{{params['tagline']}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->


                    {% for post in posts %}
                    <div class="post-preview">
                        <a href="/post/{{post.slug}}">
                            <h2 class="post-title">{{post.title}}</h2>
                    {{post.content[0:13]}}....
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Start Bootstrap</a>
                            on September 24, 2023
                        </p>
                    </div>
                    <hr>
                    {% endfor %}
                    <!-- Divider-->
                    <hr class="my-4" />
                   
                          <!-- Pager-->
                          <<div class="row mb-4">
                            <div class="col-6">
                                <a class="btn btn-primary text-uppercase" href="{{prev}}">&lAarr;Prev Posts </a>
                            </div>
                            <div class="col-6 text-right">
                                <a class="btn btn-primary text-uppercase" href="{{next}}">Next Posts&rAarr; </a>
                            </div>
                        </div>
                        
                  </div>
              </div>
                    {% endblock %}